body{
    background-color: aquamarine;
}


 
#middle{
    
   margin-left: 500px;
   margin-right: 500px;
    
   
}
 
#buttom{
    
   margin-top: 60px;
    margin-left: 450px;
}
 
button{
   
   background-color: cadetblue;
}
 
 
 
    

h2{
   margin-left: 30px;
}
#last{
   color: black;
   margin-left: 600px;
}